{% macro sendform(title) %}
    <div class="panel-footer text-right col-md-12">
        <button type="submit" class="col-md-12 button btn-primary ladda-button"><i class="glyphicon glyphicon-floppy-saved"></i>
            {{ title }}
        </button>
    </div>
{% endmacro %}
